@model VideoGameCollection.Models.VideoGame

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

    <div class="alert alert-danger text-center">
        Are you sure you want to delete the following entry?
    </div>

    <div class="delete-container">
        <div class="row">
            <div class="col-lg-6 offset-5 pt-4">

                <div class="row">
                    <div class="col-xs-4 col-sm-3 text-danger">
                        @Html.DisplayNameFor(model => model.GameTitle)
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        @Html.DisplayFor(model => model.GameTitle)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-3 text-danger">
                        @Html.DisplayNameFor(model => model.Console)
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        @Html.DisplayFor(model => model.Console)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-3 text-danger">
                        @Html.DisplayNameFor(model => model.Favorite)
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        @Html.DisplayFor(model => model.Favorite)
                    </div>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color pt-4 ml-lg-5">
                        <input type="submit" value="Delete" class="btn btn-danger btn-lg margin-right" /> |
                        <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                            <span class="glyphicon glyphicon-remove"></span> Cancel
                        </a>
                    </div>
                }
            </div>
        </div>
