@model VideoGameCollection.Models.VideoGameViewModel

@{
    ViewBag.Title = "Home Page"; 
}
<div>

    <div class="row">
        <div class="col-12 ">
            <h1 class="text-center display-2">Video Game Collection</h1>
            <p class="lead text-center">An easy way to keep track of your video game collection.</p>
        </div>
    </div>
    <div class="RadioButtonGroup">
        <div class="row">
            <div class="col-sm-12 col-md-6 pl-lg-4">
                <a href="@Url.Action("Create")"
                   class="btn btn-lg btn-warning">
                    Add a new game
                </a>
            </div>
            <p class="col-md-6 text-center pt-3">
                <b>Show Only:</b>  @Html.CheckBoxFor( x=> x.FavoritesChecked) Favorites

            </p>
        </div>
    </div>
    <div class="row height">
        <div class="col-lg-4 col-md-6 col-sm-12 bg-primary text-white display-list">
            <h2 class="text-center">Playstation Games</h2>
            <div>
                <table class="table">
                    <tr>
                        <th>Game</th>
                        <th>Favorite</th>
                        <th>&nbsp;</th>
                    </tr>

                    @foreach (var item in Model.Playstations)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.GameTitle)</td>
                            <td>@Html.DisplayFor(modelItem => item.Favorite)</td>
                            <td>
                                <div class="pull-right">
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm margin-right">
                                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 bg-success text-white display-list">
            <h2 class="text-center">XBox One Games</h2>
            <div>
                <table class="table">
                    <tr>
                        <th>Game</th>
                        <th>Favorite</th>
                        <th>&nbsp;</th>
                    </tr>

                    @foreach (var item in Model.XBoxs)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.GameTitle)</td>
                            <td>@Html.DisplayFor(modelItem => item.Favorite)</td>
                            <td>
                                <div class="pull-right">
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm margin-right">
                                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 bg-danger text-white display-list">
            <h2 class="text-center">Nintendo Switch Games</h2>
            <div>
                <table class="table">
                    <tr>
                        <th>Game</th>
                        <th>Favorite</th>
                        <th>&nbsp;</th>
                    </tr>

                    @foreach (var item in Model.Switchs)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.GameTitle)</td>
                            <td>@Html.DisplayFor(modelItem => item.Favorite)</td>
                            <td>
                                <div class="pull-right">
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm margin-right">
                                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-dark btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>


            <div class="col-lg-4 col-md-6 col-sm-12 bg-primary text-white list">
                <h2 class="text-center">Playstation Games</h2>
                <div>
                    <table class="table">
                        <tr>
                            <th>Game</th>
                            <th>Favorite</th>
                            <th>&nbsp;</th>
                        </tr>

                        @foreach (var item in Model.FavPs4s)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.GameTitle)</td>
                                <td>@Html.DisplayFor(modelItem => item.Favorite)</td>
                                <td>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm margin-right">
                                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                        </a>
                                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 bg-success text-white list">
                <h2 class="text-center">XBox One Games</h2>
                <div>
                    <table class="table">
                        <tr>
                            <th>Game</th>
                            <th>Favorite</th>
                            <th>&nbsp;</th>
                        </tr>

                        @foreach (var item in Model.FavXb1s)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.GameTitle)</td>
                                <td>@Html.DisplayFor(modelItem => item.Favorite)</td>
                                <td>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm margin-right">
                                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                        </a>
                                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 bg-danger text-white list">
                <h2 class="text-center">Nintendo Switch Games</h2>
                <div>
                    <table class="table">
                        <tr>
                            <th>Game</th>
                            <th>Favorite</th>
                            <th>&nbsp;</th>
                        </tr>

                        @foreach (var item in Model.FavSwitchs)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.GameTitle)</td>
                                <td>@Html.DisplayFor(modelItem => item.Favorite)</td>
                                <td>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm margin-right">
                                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                        </a>
                                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-dark btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

        </div>
    </div>
